.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: var(--primary-default-color);
  color: var(--primary-on-primary-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.25rem;
  height: var(--header-height);
}

.heading {
  font-weight: bold;
}

.info,
.headingBlock,
.timeInfo,
.userInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.info {
  gap: 1rem;
}

.timeInfo {
  min-width: 175px;
  justify-content: flex-start;
}

.exitButton {
  &:hover {
    cursor: pointer;
  }
}

.content {
  flex: 1;
  max-height: calc(100% - var(--header-height));
}
