[data-theme='dark'] {
  --primary-color: #0155ab;
  --on-primary-color: #ffffff;

  --background-color: #2c2c2c;

  --secondary-color: #0155ab;

  --text-color: #e8e8ee;
  --secondary-text-color: #ffffff;

  --skeleton-gradient-1: #3a3a3a;
  --skeleton-gradient-2: #2a2a2a;

  --bar-color: none;

  --box-shadow: none;

  .leaflet-layer,
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out,
  .leaflet-control-attribution {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
  }

  .leaflet-container {
    background: var(--background-color);
  }

  .leaflet-popup-tip,
  .leaflet-popup-content-wrapper {
    background: var(--background-color);
    color: var(--text-color);
  }

  // toast theming

  --toast-bg-success: #14532d;
  --toast-text-success: #bbf7d0;
  --toast-border-success: #16a34a;
  --toast-icon-success: #22c55e;

  --toast-bg-error: #7f1d1d;
  --toast-text-error: #fecaca;
  --toast-border-error: #dc2626;
  --toast-icon-error: #ef4444;

  --toast-bg-warning: #713f12;
  --toast-text-warning: #fef08a;
  --toast-border-warning: #ca8a04;
  --toast-icon-warning: #eab308;

  --toast-bg-info: #1e3a8a;
  --toast-text-info: #bfdbfe;
  --toast-border-info: #2563eb;
  --toast-icon-info: #3b82f6;
}
