:root {
  --sidebar-min-width: 350px;
  --sidebar-max-width: 400px;
  --header-height: 2.5rem;

  --primary-color: #0155ab;
  --on-primary-color: #ffffff;

  --background-color: #ffffff;

  --secondary-color: #c3ddf9;

  --text-color: #121111;
  --secondary-text-color: #0155ab;

  --bar-color: #0155ab;

  --box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}
