.shimmer {
  border-radius: 8px;
  width: auto;
  height: auto;

  background: linear-gradient(
    90deg,
    var(--skeleton-gradient-1) 30%,
    var(--skeleton-gradient-2) 50%,
    var(--skeleton-gradient-1) 70%
  );
  background-size: 400%;
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0 0;
  }
}
