.container {
  display: flex;

  height: 100%;
}

.sidebarContainer {
  margin: 0.5rem;
}

.sidebar {
  --sidebar-padding: 0.75rem;
  --sidebar-info-height: 1.5rem;

  height: 100%;
  overflow: hidden;

  border-radius: 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);

  min-width: var(--sidebar-min-width);
}

.sidebarInfo {
  padding: var(--sidebar-padding);
  gap: 1rem;
  height: var(--sidebar-info-height);

  text-transform: uppercase;
  font-weight: bold;

  background: var(--primary-default-color);
  color: var(--primary-on-primary-color);

  display: flex;
  justify-content: space-between;
  align-items: center;

  &>div:first-child {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}

.sidebarContent {
  padding: var(--sidebar-padding);
  height: calc(100% - var(--sidebar-padding) * 4 - var(--sidebar-info-height));
  overflow-y: scroll;
}

.main {
  width: 100%;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 8px;
  border: 2px solid var(--primary-default-color);
  padding: 0.25rem;

  input {
    appearance: none;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;

    font-size: 1rem;

    &::-webkit-search-decoration,

    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
}
